$white: #FFFFFF;
$black: #000000;
$red: red;
$green:  rgba(34, 123, 60, 0.75);
$customWhite: rgba(255, 255, 255, 1);
$whisper: #EEEEEE;
$lightGrey: #CCC;
$dodgerBlue: #1261A3;
$pinkSwan: #b5b5b5;
$softRed: #E39696;
