@import "../../assets/css/colors";

.header-wraper {
    width: 100%;
    height: 30vh;

    .header-img {
        width: 100%;
        height: 100%;
    }

    position: relative;

    .header-title {
        position: absolute;
        bottom: 0px;
        align-items: flex-end;
        border-radius: 35px 35px 0 0;
        width: 456px;
        justify-content: center;
        padding-bottom: 10px;
        background: $green;
        margin-left: 243px;
    }

    .input-container+p+p {
        margin: 0;
        color: $red;
        position: absolute;
        left: 100px;
        top: 53px;
    }

    .MuiFormHelperText-root {
        position: absolute;
        top: 63px;
        left: 150px;
        color: $red;
    }
}

.main-container-proposal-edit {
    width: 1024px;
    margin: 23px auto;
    position: relative;
    margin-top: 56px;

    .upload-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .button-progress {
            color: #FFFFFF;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -12px;
            margin-left: -12px;
        }

        .encrypt-wraper {
            text-align: center;
            display: flex;
            justify-content: flex-end;
    
            &:hover {
                cursor: pointer;
            }
        }

        .btn-wraper {
            position: relative;
        }

        .MuiButton-root:hover {
            text-decoration: none;
            background-color: #1261A3;
            margin-left: 10px;
            box-shadow: 0px 1px 2px 1px #b5b5b5;
        }
    }

    .button-wraper {
        margin-top: 10px;

        .tamper-wraper {
            text-align: center;
            display: flex;
            justify-content: flex-end;
            &:hover {
                cursor: pointer;
            }
        }

        .encrypt-wrape {
            margin-top: 18px;
            text-align: center;
            display: flex;
            justify-content: flex-end;

            &:hover {
                cursor: pointer;
            }
        }

        .MuiButton-root:hover {
            text-decoration: none;
            background-color: $dodgerBlue;
            margin-left: 10px;
            box-shadow: 0px 1px 2px 1px $pinkSwan;
        }
    }

    .item-wraper {
        margin-top: 106px;
    }

    .MuiTypography-colorTextSecondary {
        position: absolute;
        right: 0;
    }

    .MuiTypography-colorTextSecondary {
        color: $green;
    }

    .MuiInput-underline:after {
        border-bottom: 2px solid $green;
    }

    .MuiInput-underline::before {
        border-bottom: 2px solid $green;
    }

    .MuiInputAdornment-positionStart {
        margin-right: 0px;
    }

    .type-wrape {
        .MuiFormControl-root {
            position: relative;
            padding-bottom: 15px;
            margin-left: 0;
            width: '80%';
        }

        .MuiFormHelperText-root {
            text-align: left;
            position: absolute;
            bottom: 0;
        }
    }

    .status-wrape {
        margin-top: -30px;
        margin-left: 108px;
        .MuiFormControl-root {
            position: relative;
            padding-bottom: 20px;
            margin-left: 0;
            width: '80%';
        }

        .MuiFormHelperText-root {
            text-align: left;
            position: absolute;
            bottom: 0;
        }
    }

    .catergory-wrape {
        margin-top: 20px;

        .category-checkbox-wrape {
            position: relative;

            .MuiTypography-body1 {
                color: $green;
            }

            .MuiFormHelperText-root {
                text-align: left;
            }

            .MuiFormHelperText-root {
                text-align: left;
                position: absolute;
            }

            .MuiFormControlLabel-root {
                width: 90px;
                margin-right: 5px;
                span {
                    font-size: 14px;
                }
            }
        }
    }

    .category-wraper {
        margin-top: 10px;
        .MuiFormControlLabel-root {
            margin-right: 0;
        }
    }

    .description-wraper {
        margin-top: 90px;

        .MuiFormControl-fullWidth {
            label.Mui-focused {
                color: $green;
            }

            label.MuiFormLabel-root {
                color: $green;
            }

            textarea {
                color: $black;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }

            .MuiFormHelperText-root {
                color: $lightGrey;
            }
        }

        .description-helper {
            margin-top: -15px;

            P {
                text-align: left;
            }
        }
    }

    .MuiFormHelperText-root {
        text-align: left;
        color: $red;
    }

    .MuiDropzoneArea-root {
        height: 185px;
        width: 283px;
        min-height: 185px;
        border: none;
        background: $green;
        position: relative;
        outline: none;

        .MuiDropzonePreviewList-root {
            position: absolute;
            top: 0;
            justify-content: center;
            margin: 0;
            height: 185px;
            width: 283px;

            .MuiDropzonePreviewList-imageContainer {
                padding: 0;
                position: absolute;
                max-width: 100%;

                &:hover {
                    .MuiDropzonePreviewList-image {
                        opacity: 1;
                    }
                }

                .MuiDropzonePreviewList-image {
                    height: 185px;
                    width: 283px;
                }

                .MuiDropzonePreviewList-removeButton {
                    top: 2px;
                    right: 2px;
                }
            }
        }

        &:hover {
            border: 1px solid $green;
        }

        .MuiDropzoneArea-textContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            p {
                font-size: 12px;
                color: $customWhite;
            }

            .MuiDropzoneArea-icon {
                width: 24px;
                height: 16px;
                color: $white;
                ;
            }
        }
    }

    .googlemap-wrape {
        height: 330px;
        width: 100%;
        margin-top: 89px;

        .search-wrap {
            position: relative;

            .search-input {
                border: none;
                border-bottom: 1px solid $green;
                width: 286px;
                margin-bottom: 20px;
                outline: none;
                padding-right: 20px;
            }

            ::placeholder {
                color: $green;
                opacity: 1;
            }

            :-ms-input-placeholder {
                color: $green;
            }

            ::-ms-input-placeholder {
                color: $green;
            }

            .search-icon {
                position: absolute;
                left: 297px;
                color: $green;
            }
        }
    }

    .government-wraper {
        margin-top: 165px;

        .regulations-wraper {
            margin-top: 65px;
        }
        .MuiInputBase-inputMultiline {
            font-size: 12px;
        }
    }

    .comment-wraper {
        margin-top: 62px;
        margin-left: 100px;
    }

    .history-wraper {
        margin-top: 70px;

        .collapse-wraper {
            margin-left: 65px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .timeline-box-wraper {
        margin-top: 23px;
        padding: 30px;
        min-height: 400px;

        .timeline-item-wraper {
            margin-bottom: 30px;
            .item-content {
                width: 905px;
                height: 102px;
                background: $whisper;
                border-radius: 15px;
            }
            .item-img {
                width: 100px;
                text-align: center;
                .government-user-img {
                    width: 58px;
                    height: 41px;
                }
            }
            .item-comment {
                margin-top: 17px;
                margin-left: 24px;
            }
            .item-right-wraper {
                margin-left: 70px;
            }
        }
    }

}

#root .makeStyles-searchContainer-18  {
    display: none;
}